.App{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background-color: #A0B279 ;
}

.controls{
  width: 42vw;
}

.box{
  width: 42vw;
  height: 50vh;
  background-color: #48C9B0 ;
  color: white;
}